# set zsh home directory
export ZDOTDIR=$HOME/.config/zsh/

# define if first terminal has been run
export FIRST_TERMINAL=true

# XDG paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

# no breaking space
setxkbmap -option nbsp:none
